@font-face {
  font-family: 'AriergardBookC';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/AriergardBookC.eot'); /* IE9 Compat Modes */
  src: local('AriergardBookC'),
  url('../fonts/AriergardBookC.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/AriergardBookC.woff') format('woff'), /* Modern Browsers */
  url('../fonts/AriergardBookC.ttf') format('truetype') /* Safari, Android, iOS */
}
